version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: mathstriker-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: mathstriker
      POSTGRES_PASSWORD: mathstriker
      POSTGRES_DB: mathstriker
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: mathstriker-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
